
<h1>Report for country: {{test.country}}</h1>

All stations number: <span>{{test.stations}}</span><br>
All stations with prices <span>{{test.stationsWithPrices}}</span><br>

Top fuel stations <br>
<ul>
	<li *ngFor="let item of test.fuelStationBrands | keyvalue">{{item.key}} : {{item.value}}</li>
</ul>


<button (click)="updateData()">refresh</button>